body {
    background-color: black;
}
h4 {
    color: white;
}
h1 {
    color: white;
}
button {
    background-color: black;
    color: white;
}
h3 {
    color: white;
}
h2 {
    color: white;
}
h6 {
    color: white;
}
link {
    color: gray
}
a {
    color: gray
}
canvas {
    background-color: black;
}
h5 {
    color: white;
}